[project]
	description = schoolmanagement
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/trysreyneths
[access "refs/for/refs/*"]
	read = group user/trysreyneths
	push = group user/trysreyneths
	label-Code-Review = -2..+2 group user/trysreyneths
	label-Verified = -1..+1 group user/trysreyneths
	rebase = group user/trysreyneths
	removeReviewer = group user/trysreyneths
	submit = group user/trysreyneths
[access "refs/heads/*"]
	read = group user/trysreyneths
	create = group user/trysreyneths
	push = +force group user/trysreyneths
	pushMerge = group user/trysreyneths
[access "refs/tags/*"]
	push = +force group user/trysreyneths
	pushTag = group user/trysreyneths
	pushSignedTag = group user/trysreyneths
